*{
    margin: 0;
    font-family:'Montserrat', sans-serif;
}
  


header{
    color: white;
    background-image: url(../imagem/background.png);
    overflow: auto;
    border-top: 6px solid #2ecc71;
    background-size: cover;
    display: flex;
    position: relative;
    height: 90vh;
}

h1{
margin: 0;
font-size: 2.265em;
font-family: 'Pacifico', cursive;

}
header > div {
    margin: 0;
    position: absolute;
    bottom: 49%;
    left: 20%;
}

.hand{
    position: relative;
    left: 55vw;
}

header  p {
    margin-bottom: 3VH;
    margin-top: 5vh;
}

span{
    height: 2.5vh;
    width: 2.5vh;
    background-color: #2ecc71;
    position: absolute;
    border-radius: 52vw;
    top: 5vh;
    left: 19vh;
}
.imag button{
    
    border-radius: 50%;
    background-color:rgba(22, 21, 21, 0.7);
    border: none;
   cursor: pointer;
}

.imag button:hover{
    background-color: #2ecc71;
}


.container button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    background-color: #2ecc71;
    position: relative;
    left: 18vh;
}
.container{
    display:flex;
    flex-flow: row wrap;
    padding: 25px;
    justify-content: space-evenly;
    margin-top: 5vh;
}

.container h2{
    text-align: start;
    margin: 3vh 0;
    position: relative;
}

.container p{
text-align: center;
}

.primh {
  left: 11vh;
}

.segh{
  left: 13vh;
}

.terh{
  left: 6vh;
}


section{
display: flex;
height: 60vh;
background-color:#80808063;
}

.email{
    width: 65vh;
    height: 25vh;
    position: relative;
    left: 12vw;
    top: 8vh;
    right: auto;
} 

.email p {
    margin: 4vh 0 3vh 0;
}


 input{
    width: 40vh;
    height: 6vh;
    border-radius: 1.5vw 0 0 1.5vw;
    border: none;

}

.noti{
    display: flex;
    width: 60vh;
    background-color: #2ecc71;
    border-radius: 1.5vw;
}

.noti h2{
      font-size: 1.3em;
    position: relative;
    left: 3vh;
    top: 1vh;
    color: white;
   }

iframe{
    width: 30vw;
    height: 20vw;
    position: relative;
    left: 21vw;
    top: 4vw;
}

.rodape{
   height: 61vh;
   text-align: center;
}

.rodape p{
      margin: 8vh 0 5vh 0;
}

.inp{
      height: 60vh;
}

.redeSocial{
    margin-bottom: 5vh;
}


.redeSocial button{

    border-radius: 50%;
    border: none;
    width: 5vh;
    height: 5vh;
    background: #808080b5;
    opacity: 0.7;
    cursor: pointer;
}

.redeSocial button:hover{

    background-color: #2ecc71;
}
.redeSocial a{
text-decoration: none;
}

.final{
    height: 9vh;
    padding: 7vh;
    background-color: #c3b8b8;
}

.final a{
    padding: 2vh;
    text-decoration: none;
    color: black;
}

.incones{
    margin: 3vh 0 4vh 0;
}

.incones img:hover{
     
     filter: hue-rotate(180deg);
}


@media screen and (max-width: 1015px) {
	.hand {         width: 0;
 }
}

   @media screen and (max-width: 1015px) {
	section iframe {    width:0;
                                         
 }
}     

@media screen and (max-width: 600px) {
	.noti {    width: 32vh;}
                  .noti h2 {   font-size: 1.1em;
                                     left: 1vh;}
}

@media screen and (max-width: 600px) {
	input {    width: 20vh;}
                  
}     
              

/* ≥576px
Medium
≥768px

Large
≥992px

*/
